@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,400;6..12,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    min-height: 100vh;
    background-color: var(--bg_body);
    color: var(--body-text);
}

a {
    text-decoration: none;
}

/* header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0.5rem 30px;
    background-color: var(--bg_default);
}

header .header-btns {
    display: flex;
    align-items: center;
    gap: 20px;
}

header .name {
    color: var(--brand-primary);
}

header .header-btns .theme-btn,
.header-btns .favourite-btn {
    color: var(--body-text);
    padding: var(--base-padding);
    width: 110px;
    border-radius: var(--base-border-radius);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--lines-color);
    background-color: var(--bg_default);
    gap: 5px;
}

header .header-btns .favourite-btn:hover {
    background-color: rgb(rgb(202, 132, 132));
}

/* welcom section*/
section.welcom-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg_default);
    height: 120px;
    position: relative;
}

section.welcom-section .first-shap {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 0% 45%);
    background-image: linear-gradient(to right, var(--brand-primary), #08b891);
    z-index: 2;
}

section.welcom-section .second-shap {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(100% 0%, 0% 0%, 100% 45%);
    background-image: linear-gradient(to left, var(--brand-secondary), #0fe9a4);
    z-index: 1;
}

section.welcom-section .welcom-content {
    padding-top: 2rem;
    padding-left: var(--base-padding);
}

section.welcom-section .welcom-content .first-text {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--brand-secondary);
}

@media screen and (max-width: 600px) {
    section.welcom-section .first-shap {
        clip-path: polygon(0% 0%, 80% 0%, 0% 30%);
    }

    section.welcom-section .second-shap {
        clip-path: polygon(100% 0%, 20% 0%, 100% 30%);
    }
}

/* main */
main {
    background-color: var(--bg_body);
    width: auto;
    padding: 20px 50px;
    min-height: 50vh;
}

/* search section */
main .search-section {
    display: flex;
    width: 100%;
    box-shadow: 0 0 5px rgba(31, 30, 30, 0.2);
    background-color: var(--bg_default);
    border-radius: var(--base-border-radius);
    justify-content: space-between;
}

main .search-section .search {
    width: 70%;
    display: flex;
    justify-content:flex-start;
    gap: 10px;
}

main .search-section .search .search-icon {
    padding-left: var(--base-padding);
    height: 50px;
}

main .search-section .search .search-input {
    width: 100%;
    background-color: var(--bg_default);
    border: none;
}

main .search-section .select-btns {
    width: 30%;
    display: flex;
    justify-content: flex-start;
}

main .search-section .select-btns .sort-select,
main .search-section .select-btns .filter-select {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: var(--base-padding);
    padding-right: var(--base-padding);
    border-left: 1px solid var(--lines-color);
}

main .search-section .select-btns .sort-select select,
main .search-section .select-btns .filter-select select {
    border: none;
    color: var(--body-text);
    background-color: var(--bg_default);
    font-weight: 400;
    font-size: var(--base-font-size);
}

main .search-section .select-btns .sort-select label,
main .search-section .select-btns .filter-select label {
    font-size: 0.8rem;    
    padding-left: var(--base-padding);
}
@media screen and (min-width: 700px) and (max-width: 900px) {
    main .search-section .search {
        width:60%;
    }
    main .search-section .select-btns {
        width:40%;
    }
    
}
@media screen and (max-width: 700px) {
    main .search-section {
        flex-direction: column;
        width: 100%;
    }

    main .search-section .search .search-input {
        width: 100%;
    }

    main .search-section .select-btns {
        width: 100%;
    }

    main .search-section .select-btns .sort-select,
    main .search-section .select-btns .filter-select {
        border-left: none;
        border-top: 1px solid var(--lines-color);
        padding-bottom: 0.8rem;
        width: 50%;
    }

    main .search-section .select-btns .sort-select label,
    main .search-section .select-btns .filter-select label {
        padding-top: var(--base-padding);
    }

    main .search-section .select-btns .sort-select select ,
    main .search-section .select-btns .filter-select select {
        width: 100%;
    }
}

/* cards sectoin */
main .search-result {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 20px;
}

main .topics-found {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
}

main .topics-found .card {
    background-color: var(--bg_default);
    border-radius: var(--base-border-radius);
    height: 330px;
    width: 100%;
    cursor: pointer;
}

main .topics-found .card .img-container {
    height: 55%;
    width: 100%;
    overflow: hidden;
}

main .topics-found .img-container .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-right-radius: var(--base-border-radius);
    border-top-left-radius: var(--base-border-radius);
}

main .topics-found .card .card-info .card-title {
    font-size: var(--base-font-size);
    margin-left: 16px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

main .topics-found .card .card-info {
    display: flex;
    padding-top: 1.5rem;
    flex-direction: column;
}

main .topics-found .card .card-info .card-name {
    font-size: var(--base-font-size);
    font-weight: 700;
    margin-left: 16px;
}

main .topics-found .rating-stars {
    color: rgb(245, 153, 15);
    padding-top: 20px;
    padding-bottom: var(--base-padding);
    margin-left: 16px;
    font-size: var(--base-font-size);
}

main .topics-found .card .card-info .author {
    font-size: 0.7rem;
    margin-left: 16px;
    font-weight: 200;
}

@media screen and (max-width: 600px) {
    main .topics-found {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* footer */
footer {
    background-color: var(--bg_body);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: var(--base-padding);
}

footer .footer-icon {
    color: var(--heart-color);
}
/* favourite drawer */
.drawer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 170px;
    z-index: 999;
    background-color: var(--bg_default);
    box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
}

.drawer-content {
    margin-top: 10px;
    margin-left: 2em;
    color: var(--body-text);
}

.favourite-cards {
    display: flex;
    padding:var(--base-padding);
    justify-content: flex-start;
    overflow-x: auto;
    gap: 15px;
}

.favourite-cards .favourite-card {
    width: 100px;
    margin-top: 10px;
    border-radius: var(--base-border-radius);
    box-shadow: 0 0 5px rgba(31, 30, 30, 0.2);
    display:flex;
    flex-direction: column;
    height:100px;
}
.favourite-cards .favourite-card .favourite-img {
    height: 50px;
    width: auto;
    border-top-right-radius: var(--base-border-radius);
    border-top-left-radius: var(--base-border-radius);
}
.favourite-cards .favourite-card .favourite-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 10px;
    padding-left: var(--base-padding);
}

.favourite-cards .favourite-card .rating-stars {
    padding-left: var(--base-padding);
    font-size: 0.8rem;
    color: rgb(230, 169, 90);
}
/* loading */
.loading-section{
    margin-top:100px;
    height: 300px;
}
.loading {    
    margin: auto;
    border: 20px solid var(--brand-primary);
    border-radius: 50%;
    border-top: 20px solid var(--brand-secondary);
    width: 200px;
    height: 200px;
    animation: spinner 4s linear infinite;
}
@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}